.calendarColor {
  background-color: rgb(166, 255, 0);
  align-items: center;
  text-align: center;
}

.calendarCenter {
  margin-left: auto;
  margin-right: auto;
}

.CalendarTable {
  background-color: rgb(166, 255, 0);
}
