.displayofHeaders {
  display: flex;
  flex-direction: row;
}

.ChooseSite {
  background-color: rgb(180, 144, 120);
  color: black;
}
.ChooseSite:hover {
  text-decoration: none;
  color: black;
}

.menuInIndex {
  background-color: antiquewhite;
}

.citation {
  align-items: right;
}

.mainPage {
  display: flex;
  flex-direction: row;
}

.brightened:hover {
  filter: brightness(1.4);
}
