.weatherTable {
  background-color: #bce3f4;
  align-items: center;
  text-align: center;
}

.nameAndCountryWeather {
  display: flex;
  flex-direction: row;
}

.weatherButton {
  background-color: bisque;
  width: 100%;
}

.brightenedDark:hover {
  filter: brightness(0.7);
}

.weatherButtons {
}
